body {
    text-align: center;
}

h2 {
    clear: left;
}

form {
    text-align: center;
    margin: 10% 0;
}

input {
    height: 20px;
    width: 350px;
    margin-right: 10px;
}

.card-container {
    margin-left: 8%;
}

.boss-card {
    float: left;
    margin: 2% 2% 0% 0%;

}