body {
    text-align: center;
}

h2 {
    clear: left;
    margin: 0% auto 0% auto;
}

form {
    text-align: center;
    margin: 5% auto 5% auto;
}

input {
    height: 20px;
    width: 350px;
    margin-right: 10px;
}

.class-button {
    border: solid 1px white;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.class-button:hover {
    border: solid 1px red;
}

.card-container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}

.boss-card {
    float: left;
    margin: 2% 2% 0% 0%;

}

.loot {
    color: #a335ee;
    text-decoration: none;
}

