body {
    text-align: center;
    background-color: #262625;
}

h1,
h2,
h3 {
    color: #ccccc6;
}

h2 {
    clear: left;
    padding: 5px 0% 5px 0%;
}

.section-container {
    background-color: #52524a;
    border: 1px solid black;
    margin: 2% auto 2% auto;
    padding: 0% 0% 1% 0%;
}


input {
    height: 32px;
    width: 500px;
    margin-right: 10px;
}

.spec-dropdown-container {
    padding-bottom: 5%;
}

.class-button:hover {
    border: solid 1px red;
}

.card-container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}

.boss-card {
    float: left;
    margin: 2% 2% 0% 0%;

}

.loot {
    color: #a335ee;
    text-decoration: none;
}

.loot {
    margin-bottom: 10px;
}